@import "tailwindcss";

@font-face {
  font-family: 'Avenir Arabic Medium';
  src: url('/assets/font/AvenirArabic-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
      
    --font-avenir : 'Avenir Arabic Medium', sans-serif; 
    --color-primary:#828282;

}


@layer components{
    .btn-grad{
        background: linear-gradient(83.21deg, #3B0066 -130.25%, #175FC4 -5.2%, #00E1E7 140.51%, #00F7E0 172.5%, #00FFDD 192.89%);
    }
}