@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme {
        --font-poppins: 'Poppins', sans-serif;
        --color-purple-500: hsl(259, 100%, 65%);
        --color-red-400 : hsl(0, 100%, 67%);
}   

@layer components{
    .group-form{
        @apply flex flex-col pr-6 pb-10;
    }

    .lbl{
        @apply font-bold text-gray-500 text-xs pb-2;
    }
    .in-field{
        @apply text-3xl p-3 px-4 font-bold rounded-lg border border-gray-300 w-35;
    }
}